<%- include("../partials/header.ejs") %>

        <!-- Begin Main Content Area -->
        <main class="main-content">
            <div class="breadcrumb-area breadcrumb-height" data-bg-image="/images/breadcrumb/bg/1-1-1920x400.jpg">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-12">
                            <div class="breadcrumb-item text-night-rider">
                                <h2 class="breadcrumb-heading">Sign Up Page</h2>
                                <ul>
                                    <li>
                                        <a href="index.html">Home/</a>
                                    </li>
                                    <li>Register</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-register-area section-space-y-axis-100 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 pt-10 pt-lg-0">
                            <form action="/signup" method="POST">
                                <div class="login-form">
                                    <h4 class="login-title">Sign Up</h4>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <label>First Name</label>
                                            <input type="text" placeholder="First Name">
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <label>Last Name</label>
                                            <input type="text" placeholder="Last Name">
                                        </div>
                                        <div class="col-md-12">
                                            <label>Email Address*</label>
                                            <input type="email" placeholder="Email Address">
                                        </div>
                                        <div class="col-md-12">
                                            <label>Phone Number*</label>
                                            <input type="tel" placeholder="Phone Number">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Password</label>
                                            <input type="password" placeholder="Password">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Confirm Password</label>
                                            <input type="password" placeholder="Confirm Password">
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-custom-size lg-size btn-primary w-100">Register</button>
                                        </div>
                                        <div class="col-lg-12 pt-3 text-center">
                                            <span>Have an account? <a href="login-register.html">Login</a></span>
                                        </div>
                                        <div class="col-12">
                                            <br>
                                            <button type="button" class="google-btn w-100">
                                                <img src="/images/logo/icons8-google-96.png" alt="Google Icon" width="20">
                                                Sign Up with Google
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content Area End Here -->

<%- include("../partials/footer.ejs") %>