<%- include("../partials/header.ejs") %>

        <!-- Begin Main Content Area -->
        <main class="main-content">
            <div class="breadcrumb-area breadcrumb-height" data-bg-image="/images/breadcrumb/bg/1-1-1920x400.jpg">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-12">
                            <div class="breadcrumb-item text-night-rider">
                                <h2 class="breadcrumb-heading">Sign Up Page</h2>
                                <% if(message) { %>
                                    <p style="color: black;"> <%= message %></p>
                                    <% } %>
                                <ul>
                                    <li>
                                        <a href="index.html">Home/</a>
                                    </li>
                                    <li>Register</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-register-area section-space-y-axis-100 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 pt-10 pt-lg-0">
                            <form id="signupForm" action="/login" method="post" >
                                <div class="login-form">
                                    <h4 class="login-title">Sign Up</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Username</label>
                                            <input id="username" type="text" placeholder="username" name="username">
                                          <div class="error-container">
                                                <div id="usernameError" class="error-message"></div>
                                          </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Email Address*</label>
                                            <input id="email" type="email" placeholder="Email Address" name="email">
                                            <div class="error-container">
                                                <div id="emailError" class="error-message"></div>
                                          </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Phone Number*</label>
                                            <input id="number" type="tel" placeholder="Phone Number" name="number">
                                            <div class="error-container">
                                                <div id="numberError" class="error-message"></div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Password</label>
                                            <input id="password" type="password" placeholder="Password" name="password">
                                            <div class="error-container">
                                                <div id="passwordError" class="error-message"></div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Confirm Password</label>
                                            <input id="cpassword"  type="password" placeholder="Confirm Password" name="cpassword">
                                            <div class="error-container">
                                                <div id="cpasswordError" class="error-message"></div>
                                          </div>
                                        </div>
                                        <div class="col-12">
                                            <button id="registerButton" class="btn btn-custom-size lg-size btn-primary w-100">Register</button>
                                        </div>
                                        <div class="input-box button">
                                            <input type="submit" value="Sign Up">
                                          </div>
                                        <div class="col-lg-12 pt-3 text-center">
                                            <span>Have an account? <a href="login-register.html">Login</a></span>
                                        </div>
                                        <div class="col-12">
                                            <br>
                                            <button type="button" class="google-btn w-100">
                                                <img src="/images/logo/icons8-google-96.png" alt="Google Icon" width="20">
                                                Sign Up with Google
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content Area End Here -->
<script>
        document.addEventListener('DOMContentLoaded',function() {
            document.querySelector('form').addEventListener('submit',formValidate)
         
         })
         
             function formValidate(e) { 
         
                    e.preventDefault()
         ;           var email = document.getElementById('email').value;
                    var password = document.getElementById('password').value;
                    var confirmPassword = document.getElementById('cpassword').value;
                    var email = document.getElementById('email').value;
                    if(email == "" || password == "" || cpassword == ""|| email == ""){
                     alert("All fields are required");
                     return false
                    }else if(password != cpassword){
                     alert('Passwords doesnot match')
                     return false
                    }
                      
                   
                 //If validation passes, submit the form manually  
                   e.target.submit()
                   return true
                     }    
                    </script>
<%- include("../partials/footer.ejs") %>